* {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

/* header and navigation ber */
.header {
    background: #FFF8F3;
    background-image: url(../images/header_bg.png), url(../images/developer.png);
    background-repeat: no-repeat;
    background-position: bottom right, left;
}

nav {
    display: flex;
    justify-content: space-between;
    margin: 50px 200px;
    align-items: center;


}

nav li {
    list-style: none;
    margin: 30px;
}

nav ul {
    display: flex;
    align-items: center;
}

.nav-title {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 800;
    font-size: 45px;

}

.text-primary {
    color: #FD6E0A;
}

.btn-primary {
    height: 64px;
    border-radius: 5px;
    background: #FD6E0A;
    font-weight: bold;
    font-size: 20px;

    color: #FFFFFF;
    border: 0px;
    padding: 18px 35px;

}
.btn-secendary {
    height: 64px;
    border-radius: 5px;
    background: #FFF8F3;
    font-weight: bold;
    font-size: 20px;

    color: #FD6E0A;
    border: 1px #FD6E0A solid ;
    padding: 18px 35px;
    margin-left: 20px;

}
.mardy{
    margin-left: 30px;
}

/* BANNAER style */
.banner {
    margin: 0px 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.banner-sub-title {
    font-weight: 600;
    font-size: 45px;
    margin: 20px;

}

.banner-title {
    font-weight: 700;
    font-size: 85px;

}

.banner-discription {
    color: #757575;
    font-weight: 400;
    font-size: 18px;
    margin: 30px;
}

/* main section */
main {
    max-width: 1140px;
    margin: 0 auto;
}

/* about sectiion style */

.about {
    text-align: center;
    background: #FFF8F3;
    border-radius: 10px;
    padding: 130px 150px;

}

.section-title {
    display: flex;

    margin-bottom: 0px;
    font-size: 35px;
    text-align: center;
    justify-content: center;
    

}

.section-discription {
    font-size: 18px;
    color: #757575;
    margin-bottom: 30px;
    justify-content: center;
    display: flex;
    padding: 0px 50px;
 
}


.about-info-container {
    display: flex;
    justify-content: space-around;
}

.info-title {
    font-size: 20px;
    color: #757575;
}

.info-discription {
    font-weight: 600;
    font-size: 20px;
    color: #090420;

}

skill {

    background: #FFFFFF;
    box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06);
    border-radius: 5px;
    padding: 30px;
}

.skills-container {
    display: flex;
    gap: 24px;
}

.skill-title {

    font-weight: 700;
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 50px;
}

.skill-discription {
    font-weight: 400;
    font-size: 16px;
}

.section {
    margin-top: 30px;
}

/* resume style */
.section-title{
    margin-top: 90px;
    margin-bottom: 60px;
}

.resume-content {

    display: flex;
    gap: 30px;
}

.title {
    font-weight: 700;
    font-size: 25px;
    color: #474747;
    margin-bottom: 10px;

}

.sub-title {
    font-size: 20px;
    color: #757575;
    margin-bottom: 20px;

}

.description {
    color: #757575;
    font-size: 16px;

}

.resume-item {
    margin-bottom: 30px;
    margin-top: 30px;
}

.resume-title {
    font-weight: 700;
    font-size: 30px;
}
.resume-button{
    margin-top: 50px;
    text-align: center;
    margin-bottom: 30px;
}

/* section style */

.section-title{
    text-align: left ;
}
.contact{
    display: flex;
    gap: 100px;
    background: #FFF8F3;
    padding: 30px 150px;
}

 input[type="text"],input[type="email"],textarea{
    margin-bottom: 24px;
    border: 0;
    width: 100%;
    padding: 18px 30px;
}
.section-descriction{
    margin-bottom: 20px;

}
a{
    text-decoration: none;
}
.imogi img {
    padding-right: 30px;
    

}
.what{
    margin-top: 0px;
    padding:  0px 80px;
    text-align: center;
}